{{#each}}
  <li>
    <img class="picture" src="{{flag.svg}}" alt="flag {{name.official}}" width="40">
   <span class="country-name">{{name.official}}</span>
 </li>
 <li>Capital: {{capital}}</li>
 <li>Population: {{population}}</li>
 <li>languages:
   {{#each languages}}
     {{#if @last}}
        <span>{{this}}</span>
       {{else}}<span>{{this}},</span>
     {{/if}}
   {{/each}}
 </li>
{{/each}}

